<app-header></app-header>

<div class="">
  <div class="row dv-row-dshbrd">
    <div class="col-md-2 dv-sidebr">

      <app-sidebar></app-sidebar>

    </div>
    <div class="col-md-10 dv-mainapp">
      <div class="">
        <!-- CONTENT -->
        <div class="row">
          <div class="dv-headr">
            Farmer
          </div>
          <div *ngIf="farmerDetail != null" class="dv-frm">
            <div class="adddata">
              <div class="">
                <div class="row">
                  <div class="col-md-4">
                    <div class="">
                      <label>{{farmerDetail.fullName}} </label>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="">
                      <label>{{farmerDetail.landHolding}} </label>
                    </div>
                  </div>
                  <div class="col-md-4"></div>
                </div>


                <div class="row">
                  <div class="col-md-4">
                    <div class="">
                      <label>{{farmerDetail.address}}</label>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="">
                      <label>{{farmerDetail.phone}} </label>
                    </div>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-2"></div>
          <div class="col-md-10">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="SeedBeed-tab" data-toggle="tab" href="#SeedBeed" role="tab"
                  aria-controls="SeedBeed" aria-selected="true">SeedBeed</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="Sowing-tab" data-toggle="tab" href="#Sowing" role="tab" aria-controls="Sowing"
                  aria-selected="false">Sowing</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="Fertilizer-tab" data-toggle="tab" href="#Fertilizer" role="tab"
                  aria-controls="Fertilizer" aria-selected="false">Fertilizer</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="InterCulture-tab" data-toggle="tab" href="#InterCulture" role="tab"
                  aria-controls="InterCulture" aria-selected="false">InterCulture</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="PlantProtection-tab" data-toggle="tab" href="#PlantProtection" role="tab"
                  aria-controls="PlantProtection" aria-selected="true">Plant Protection</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="Irrigation-tab" data-toggle="tab" href="#Irrigation" role="tab"
                  aria-controls="Irrigation" aria-selected="false">Irrigation</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="Harvesting-tab" data-toggle="tab" href="#Harvesting" role="tab"
                  aria-controls="Harvesting" aria-selected="false">Harvesting</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="Production-tab" data-toggle="tab" href="#Production" role="tab"
                  aria-controls="Production" aria-selected="false">Production</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade " id="SeedBeed" role="tabpanel" aria-labelledby="SeedBeed-tab">
                <div *ngIf="CropDetails != null && CropDetails.seedBeed.length >=1" class="dv-tble">
                  <div class="adddata">
                    <div class="">
                      <div class="row">
                        <div class="col-md-4">

                          <label>{{CropDetails.seedBeed[0].typeOperation}} </label>

                        </div>

                        <div class="col-md-4">

                          <label>{{CropDetails.seedBeed[0].machine}} </label>

                        </div>
                        <div class="col-md-4">
                          <label>{{CropDetails.seedBeed[0].ownHired}} </label>

                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-4">

                          <label>{{CropDetails.seedBeed[0].dieselLPH}} </label>

                        </div>

                        <div class="col-md-4">

                          <label>{{CropDetails.seedBeed[0].fuelEnergy}} </label>


                        </div>
                        <div class="col-md-4">
                          <label>{{CropDetails.seedBeed[0].rate}} </label>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="tab-pane fade" id="Sowing" role="tabpanel" aria-labelledby="Sowing-tab">
                <div class="dv-tble">
                  
                </div>
              </div>
              <div class="tab-pane fade" id="Fertilizer" role="tabpanel" aria-labelledby="Fertilizer-tab">
                <div class="dv-tble">
                  
                </div>
              </div>
              <div class="tab-pane fade" id="InterCulture" role="tabpanel" aria-labelledby="InterCulture-tab">
                <div class="dv-tble">
                 
                </div>
              </div>
              <div class="tab-pane fade" id="PlantProtection" role="tabpanel" aria-labelledby="PlantProtection-tab">
                <div class="dv-tble">
                  
                </div>
              </div>
              <div class="tab-pane fade" id="Irrigation" role="tabpanel" aria-labelledby="Irrigation-tab">
                <div class="dv-tble">
                  
                </div>
              </div>
              <div class="tab-pane fade" id="Harvesting" role="tabpanel" aria-labelledby="Harvesting-tab">
                <div class="dv-tble">
                 
                </div>
              </div>
              <div class="tab-pane fade" id="Production" role="tabpanel" aria-labelledby="Production-tab">
                <div class="dv-tble">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>