<app-header></app-header>

<div class="">
  <div class="row dv-row-dshbrd">
    <div class="col-sm-0 col-md-2 dv-sidebr">

      <app-sidebar></app-sidebar>

    </div>
    <div class="col-md-10 dv-mainapp">
      <div class="dash-main">
        <div class="container-fluid">
          <!-- CONTENT -->
          <div class="row">
            <div class=" col-sm-12 dv-frst">
              <p>75 Farmers</p>
              
            </div>
            <div style="cursor: pointer;" (click)="downloadSurway()" class="col-md-6 col-sm-12 dv-snd">
              <p>100+ Surways</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>