<app-header></app-header>

<div class="">
  <div class="row dv-row-dshbrd">
    <div class="col-md-2 dv-sidebr">

      <app-sidebar></app-sidebar>

    </div>
    <div class="col-md-10 dv-mainapp">
      <div class="">
        <!-- CONTENT -->
        <div class="row">
          <div class="dv-headr">
            User
          </div>



          <div class="dv-tble">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tddata of TableData">
                  <td>{{tddata.userName}}</td>
                  <td>  <label class="switch">
                    <input (click)="changeStatus(tddata.id)" type="checkbox"[checked]= "tddata.status">
                    <span class="slider round"></span>
                  </label>  </td>
                </tr>

              </tbody>
            </table>
            <div>
              <button (click)="viewMore('front')" [disabled] = "!moreExist" style="float: right;" class="fa fa-arrow-circle-right" aria-hidden="true"></button>
              <button (click)="viewMore('back')"  [disabled] = "take == 1" style="float: right;" class="fa fa-arrow-circle-left" aria-hidden="true"></button>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>